@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 81%);
}

.first {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

span {
  opacity: 50%;
  color: hsl(0, 0%, 81%);
  font-weight: bold;
}

.daniel {
  background: hsl(263, 55%, 52%);
  font-family: "Barlow Semi Condensed", sans-serif;
  text-align: center;
  padding: 0.6rem;
  width: 40%;
  margin-left: 80px;
  border-radius: 0.5rem;
  text-align: left;
}
.daniel .img-daniel {
  height: 2rem;
  border: solid hsl(0, 0%, 81%);
  border-radius: 100%;
  margin-left: 1%;
  margin-bottom: -45px;
}
.daniel .daniel-text {
  margin-bottom: 5%;
  margin-top: -5%;
  margin-left: 10%;
  color: hsl(0, 0%, 81%);
  font-size: 1.2rem;
}
.daniel .daniel-second {
  margin-bottom: 5%;
  color: hsl(0, 0%, 81%);
  font-size: 1.2rem;
}

.jonathan {
  background: hsl(217, 19%, 35%);
  font-family: "Barlow Semi Condensed", sans-serif;
  text-align: center;
  padding: 2rem;
  width: 20rem;
  margin-right: 435px;
  border-radius: 0.5rem;
  text-align: left;
}
.jonathan img {
  height: 2rem;
  border: solid hsl(0, 0%, 81%);
  border-radius: 100%;
}
.jonathan .jonathan-text {
  margin-bottom: 5%;
  margin-top: -15%;
  margin-left: 25%;
  font-size: 1.2rem;
  color: hsl(0, 0%, 81%);
}
.jonathan .jonathan-second {
  margin-bottom: 5%;
  color: hsl(0, 0%, 81%);
  font-size: 1.2rem;
}

.second {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.jeanette {
  background: hsl(0, 0%, 100%);
  font-family: "Barlow Semi Condensed", sans-serif;
  text-align: center;
  padding: 1.5rem;
  width: 20rem;
  margin-left: 80px;
  border-radius: 0.5rem;
  text-align: left;
}
.jeanette img {
  height: 2rem;
  border: solid hsl(0, 0%, 81%);
  border-radius: 100%;
  margin-left: 0%;
}
.jeanette .jeanette-text {
  margin-top: -18%;
  margin-left: 25%;
  color: hsl(217, 19%, 35%);
  font-size: 1.2rem;
  font-weight: bold;
}
.jeanette .jeanette-second {
  margin-bottom: 6%;
  margin-top: 2rem;
  color: hsl(217, 19%, 35%);
  font-size: 1.2rem;
  font-weight: bold;
}
.jeanette .jeanette-third {
  color: rgb(20, 19, 19);
  font-weight: 1rem;
}

.patrick {
  background: hsl(219, 29%, 14%);
  font-family: "Barlow Semi Condensed", sans-serif;
  text-align: center;
  padding: 1.1rem;
  width: 40%;
  margin-right: 435px;
  border-radius: 0.5rem;
  text-align: left;
}
.patrick img {
  height: 2rem;
  border: solid hsl(0, 0%, 81%);
  border-radius: 100%;
  margin-left: 0%;
}
.patrick .patrick-text {
  margin-bottom: 5%;
  margin-top: -7%;
  margin-left: 10%;
  color: hsl(0, 0%, 81%);
  font-size: 1.2rem;
}
.patrick .patrick-second {
  margin-bottom: 5%;
  color: hsl(0, 0%, 81%);
  font-size: 1.2rem;
}

.kira {
  background: hsl(0, 0%, 100%);
  font-family: "Barlow Semi Condensed", sans-serif;
  text-align: center;
  padding: 1.7rem;
  width: 20%;
  margin-right: 0%;
  margin-left: 75%;
  border-radius: 0.5rem;
  text-align: left;
  margin-top: -555px;
}
.kira img {
  height: 2rem;
  border: solid hsl(0, 0%, 81%);
  border-radius: 100%;
  margin-left: 0%;
}
.kira .kira-text {
  margin-bottom: 5%;
  margin-top: -18%;
  margin-left: 25%;
  color: hsl(217, 19%, 35%);
  font-size: 1.2rem;
  font-weight: bold;
}
.kira .kira-second {
  margin-bottom: 6%;
  margin-top: 2rem;
  color: hsl(217, 19%, 35%);
  font-size: 1.2rem;
  font-weight: bold;
}
.kira .kira-third {
  color: rgb(20, 19, 19);
  font-weight: 1rem;
}

.pattern-quotation {
  opacity: 35%;
  margin-left: 450px;
  margin-bottom: -13%;
}/*# sourceMappingURL=main.css.map */